.idea
.cache
node_modules
.DS_Store
dist
lib
/node_modules
lerna-debug.log
/packages/*/*/*/*.log
.history/
packages/plugin-logger/__tests__/app/src/logs/
packages/logger/__tests__/__mocks__/log/
yarn-error.log
yarn.lock
packages/app/log/
